#
# Configuration file for config1
#

[NDB_MGMD DEFAULT]
ArbitrationRank=1
HeartbeatIntervalMgmdMgmd=1500
Portnumber=1186

[NDB_MGMD]
NodeId=1
HostName=172.16.56.30
DataDir=/var/lib/mysql
Portnumber=1186

[NDB_MGMD]
NodeId=2
HostName=172.16.56.40
DataDir=/var/lib/mysql
Portnumber=1186

[TCP DEFAULT]
SendBufferMemory=8M
ReceiveBufferMemory=8M

[NDBD DEFAULT]
NoOfReplicas=2
LateAlloc=1
DataMemory=9858M
IndexMemory=1760M
MaxNoOfAttributes=16384
MaxNoOfTables=1024
MaxNoOfOrderedIndexes=1024
MaxNoOfUniqueHashIndexes=1024

[NDBD]
NodeId=11
HostName=172.16.56.31
DataDir=/var/lib/mysql
ServerPort=11860

[NDBD]
NodeId=12
HostName=172.16.56.40
DataDir=/var/lib/mysql
ServerPort=11860

[NDBD]
NodeId=13
HostName=172.16.56.32
DataDir=/var/lib/mysql
ServerPort=11860

[NDBD]
NodeId=14
HostName=172.16.56.33
DataDir=/var/lib/mysql
ServerPort=11860

[MYSQLD DEFAULT]
AutoReconnect=false
BatchByteSize=16K
BatchSize=256
MaxScanBatchSize=256K

[MYSQLD]
NodeId=20
HostName=172.16.56.34

[MYSQLD]
NodeId=21
HostName=172.16.56.40
